# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
    ignore:
      - dependency-name: "anyhow"
        update-types: ["version-update:semver-patch"]
      - dependency-name: "clap"
        update-types: ["version-update:semver-patch"]
      - dependency-name: "semver"
        update-types: ["version-update:semver-patch"]
      - dependency-name: "serde"
        update-types: ["version-update:semver-patch"]
      - dependency-name: "serde_json"
        update-types: ["version-update:semver-patch"]
      - dependency-name: "thiserror"
        update-types: ["version-update:semver-patch"]
