[package]
edition = "2021"
name = "rustdoc-json"
version = "0.6.0"
description = "Utilities for working with rustdoc JSON."
homepage = "https://github.com/Enselic/cargo-public-api/tree/main/rustdoc-json"
documentation = "https://docs.rs/rustdoc-json"
readme = "README.md"
license = "MIT"
repository = "https://github.com/Enselic/cargo-public-api/tree/main/rustdoc-json"

[dependencies]
cargo_metadata = "0.14.2"
serde = { version = "1.0.145", features = ["derive"] }
thiserror = "1.0.29"
toml = "0.5.6"
