[package]
description = "List and diff the public API of Rust library crates. Relies on rustdoc JSON output from the nightly toolchain."
documentation = "https://docs.rs/public-api"
edition = "2021"
homepage = "https://github.com/Enselic/public-api"
license = "MIT"
name = "public-api"
repository = "https://github.com/Enselic/public-api"
version = "0.11.3"

[dependencies]
thiserror = "1.0.29"

[dependencies.serde]
version = "1.0.135"
features = ["derive"]

[dependencies.serde_json]
version = "1.0.77"
features = ["unbounded_depth"]

[dependencies.rustdoc-types]
# path = "/Users/martin/src/rustdoc-types"
version = "0.11.0"

[dev-dependencies]
assert_cmd = "2.0.4"
cargo_metadata = "0.14.2"
cargo_toml = "0.11.5"
pretty_assertions = "1.1.0"
serial_test = "0.6.0"
