[package]
edition = "2021"
name = "cargo-public-api"
version = "0.12.3"
default-run = "cargo-public-api"
description = "List and diff the public API of Rust library crates between releases and commits. Detect breaking API changes and semver violations."
homepage = "https://github.com/Enselic/cargo-public-api"
documentation = "https://docs.rs/cargo-public-api"
readme = "../README.md"
license = "MIT"
repository = "https://github.com/Enselic/cargo-public-api"

[dependencies]
ansi_term = "0.12.1"
anyhow = "1.0.53"
atty = "0.2.14"
clap = { version = "3.1.2", features = ["derive"] }
diff = "0.1.12"

[dependencies.rustdoc-json]
path = "../rustdoc-json"
version = "0.2.2"

[dependencies.public-api]
path = "../public-api"
version = "0.12.3"

[dev-dependencies]
assert_cmd = "2.0.4"
predicates = "2.1.1"
serial_test = "0.6.0"
